[submodule "Wonder-CommonLib"]
	path = lib/inner/Wonder-CommonLib
	url = https://github.com/yyc-git/Wonder-CommonLib.git
[submodule "lib/inner/Wonder-Package"]
	path = lib/inner/Wonder-Package
	url = git@github.com:yyc-git/Wonder-Package.git
